@import "~antd/dist/antd.dark.css";
/* @import "~antd/dist/antd.compact.css"; */

:root {
  --text-primary: #000;
  --bgPrimary: #252628;
  --bgSecondary: #151619;
  --pink: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Poppins", sans-serif;
}

a:hover {
  color: var(--pink) !important;
}

.nav-container {
  width: 100%;
  background-color: rgb(0, 21, 41);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  overflow: hidden;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.home-title {
  margin-top: 20px;
}

.show-more {
  margin-top: 0px !important;
}
.exchange-image {
  margin: 0px 10px !important;
}

.crypto-card {
  min-width: 240px;
}
.crypto-card .crypto-image {
  width: 35px;
}

.search-crypto {
  width: 250px;
  margin-bottom: 20px;
}

.footer {
  background-color: #001529;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0px !important;
  align-items: center;
}

.provider-container {
  display: flex;
  justify-content: space-between;
}
.provider-name {
  margin-left: 10px;
  font-size: 12px !important;
}

@media screen and (max-width: 800px) {
  .nav-container {
    padding: 5px 10px;
  }
}
